<div class="home">
    <div class="full-screen">
      <div class="header-background">
        <div class="container header-text">
          <h1 class="center">How Can I Stand Out?</h1>
          <h3 class="center">You don’t need hundreds of thousands of dollars to get ahead. We treat every app equaly, and won’t give the award to Tinder or Uber like the others.</h3>
          <%= link_to 'Nominate My App', new_app_path, class: 'button button-reg' %>
        </div> <!-- end-container -->
      </div>
    </div> <!-- end full-screen -->

    <div class="millions container">
        <h1 class="center">1.5 Million</h1>
        <h3 class="center">If your app hasn’t been in the top 200, chances are nobody has heard of it. Just because you don’t have hundreds of thousands of dollars in investments, doesn’t mean your app should fail. We want to give recognition to the amazing apps we know are out there, lost inbetween the 60,000 apps submitted every month. </h4>
    </div>

    <div class="photo beach"></div>
    <div class="divider">
      <div class="container">
        <h1 class="center">How do I stand out?</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum 
        <br><span><a href="">See More..</a></span></p>
      </div>
    </div>
    <div class="photo ipad"></div>
    <div class="divider">
      <div class="container">
        <h1 class="center">Be An Award Winning App</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum  
        <br><span><a href="">See More..</a></span></p></p>
      </div>
    </div>
    <div class="photo girl"></div>
    <div class="discover">
      <div class="container">
        <h1 class="center">DISCOVER</h1>
        <div class="image"></div>
        <h2 class="center">See The Competition</h2>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          <br><span><a href="">See More..</a></span></p>
        </div>
      </div>
    </div> <!-- END HOME TAG -->   