
<div class="container down new-app">
	<div class="header">
		<h2 class="text-center">Nominate Your App</h2>
		<p class="text-center">$150 Earlybird Special</p>
	</div>
	<div class="form-container half">
		<%= render 'form' %>
	</div>
	<div class="half deadline-container">
		Hello
	</div>



</div>