// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sam-alert {
	z-index: 1000000000;
	width:95%;
	background-color: rgba(172, 223, 116, 0.7);
	line-height: 50px;
	position: absolute;
	left: 2.5%;
	top: 50px;
  text-align: center;
  border-radius: 12px;
  font-size: 16px;
  .text {
		padding-left:20px;
		float:left;
	}
	.sam-alert-ok {
		float:right;
		font-size:18px;
		cursor: pointer;
		padding-right: 20px;
		&:hover {
			color: #eee;
		}
	}
}

.sam-pagination {
	margin: 0 auto;
}