// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ocean {
	.o-header {
		text-align: left;
	background-image: linear-gradient(-180deg, #5BB1F0 0%, #B3D2EB 98%);
		height:500px;
		position: fixed;
		width:100%;
		z-index: -1;
	}

	.o-header h1 {
		padding-top: 100px;
		max-width: 420px;
		margin:0 auto;
		font-size: 48px;
		/* There is an: */
		font-family: AvenirNext-Regular;
		color: #D8ECFB;
		line-height: 66px;
	}

	.o-header h1 span {
		font-size: 100px;
		/* OCEAN: */
	font-family: AvenirNext-Bold;
	color: #4BA8EE;
	line-height: 77px;
	}

	.o-divider {
		background-image: url(../img/ocean-bg.png);
		position: relative;
		top:400px;
		height:100px;
	}

	.o-body {
		margin-top:400px;
		background-color: #fff;
		z-index: 2;
		width: 100%;
	}


	.o-body .o-container {
	}

	.o-body .o-container h2 {
		font-family: AvenirNext-DemiBold;
		font-size: 36px;
		color: #A2A2A2;
		padding-bottom:20px;
	}

	.o-body .o-container p {
	font-family: AvenirNext-Regular;
	font-size: 18px;
	color: rgba(73,73,73,0.56);
	line-height: 25px;
	}


	.center {
		padding-top:40px;
		text-align: center;
		/* Hello: */
		font-family: AvenirNext-Regular;
		font-size: 24px;
		color: #4A90E2;
		line-height: 33px;
		padding-bottom: 40px;
	}

	.four .box {
		text-align: center;
		width:195px;
		height:205px;
		background-color:#eee;
		border-radius: 40px;
	}


	.o-container .smaller {
		padding-top:50px;
	}
}