.new-app {
	.third-store {
		position: relative;
		top:-25px;
		float:left;
		width:31.335%;
		text-align: center;
		margin: 20px 1%;
		padding: 20px 0;
		background-color: #ccc;
		cursor: pointer;
		border-radius: 5px;
		&:hover {
			background-color: #434547;
			color: #fff;
		}
	}
	.third-store-text {
		position: relative;
		top: -10px;
	}
	.third-store-seleted {
		background-color: #434547;
		color: #fff;
	}
	.header {
		padding-bottom: 30px;
		h2 {
			font-size: 48px;
			color: #7ED321;
		}
		p {
			padding-top: 10px;
			font-size: 18px;
			font-weight: 300;
			color: #000;
		}
	}
	.half {
		float:left;
		width:47%;
		margin:1%;
		@media (max-width: 700px) {
			width:100%;
		}
	}
	.form-container {
		padding:20px;
			/* Rectangle 605: */
		background: #FAFAFA;
		border: 1px solid #979797;
		border-radius: 14px;
		color: #616161;
		.new-app-button {
			width:230px;
			height:40px;
			/* Rectangle 664: */
			background-color: #6DA2E0;
			border-radius: 3px;
			font-size: 20px;
			color: #FFFFFF;
			line-height: 40px;
			text-align: center;
			margin: 0 auto;
			font-weight: 300;
			cursor: pointer;
			-ms-transition: background-color 250ms ease;
			-webkit-transition: background-color 250ms ease;
							transition: background-color 250ms ease;
			&:hover {
				background-color: #6895CA;
			}
		}
		.stripe-new-app-button {
			background-color: #20d938;
			&:hover {
				background-color: #1fc329;
			}
		}
		.title {
			padding-bottom: 0px;
			/* App Info: */
			font-size: 24px;
			color: #616161;
			line-height: 33px;
		}
		.form-group {
			margin: 30px 0;
		}
		input[type=text]{
   		/* Rectangle 103: */
   		background: #C9C9C9;
   		box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.11);
   		height:40px;
   		font-size: 18px;
   		color: #FFFFFF;
   		line-height: 18px;
   		border-radius: 0px;
   		font-weight: 300;
   		&::placeholder {
   			font-weight: 300;
   			font-size: 18px;
   			color: #FFFFFF;
   			line-height: 18px;
   		}	
		}
		textarea {
			background: #C9C9C9;
			box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.11);
			height:40px;
			font-size: 18px;
			color: #FFFFFF;
			line-height: 18px;
			border-radius: 0px;
			font-weight: 300;
			&::placeholder {
				font-weight: 300;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 18px;
			}	
		}
	}
	.deadline-container {
		background-color: #ccc;
		padding: 20px;
	}
	.app-text {
		/* We will add this on : */
		margin: 5px 0;
		font-size: 13px;
		color: #5C5C5C;
		line-height: 18px;
		opacity:0;
		height:0;
	}
	.app-url-text {
		color: red;
	}
}
