.overall-container{
	.app-container {
		text-align: center;
		.col-xs-12{
			margin: 0 auto;
		}
		margin: 0 auto;
		border: 1px solid #ccc;
		border-radius: 8px;
		margin: 20px;
		min-width:227px;
		height:377px;
		width:227px;
		-webkit-transition: all 500ms ease;
		transition: all 500ms ease-;
		&:hover {
			border: 1px solid #4A9DFF;
		}
		.img-container {
			height:227px;
			overflow: hidden;
			background-color: #fff;
			margin: 0 auto;
			text-align: center;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			img {
				height:100%;
				text-align: center;
				margin: 0 auto;
				-webkit-transition: all 500ms ease;
				transition: all 500ms ease-;
				&:hover {
					-ms-transform: scale(1.05); /* IE 9 */
			    -webkit-transform: scale(1.05); /* Chrome, Safari, Opera */
			    transform: scale(1.05);
				}
			}
		}
		h3 {
			font-size: 20px;
			padding-bottom: 10px;
			font-weight: 300;
		}
		.caption {
			.blue-bg {
				// background: #ECF5FF;
			}
			.name {
				margin-top: 15px;
			}
			.app-link {
					/* App Store Link: */
					font-size: 16px;
					color: #4A9DFF;
					letter-spacing: 0.5px;
					line-height: 20px;
					text-align: center;
					margin-top: 5px;
				}
			.half {
				float:left;
				width:50%;
				text-align: center;
				.title {
					/* Store:: */
					font-size: 16px;
					color: #A1BFE1;
					letter-spacing: 0.5px;
					line-height: 5px;
					padding-bottom: 15px;
				}
				padding-bottom: 15px;
			}
		}
		
	}
}

.container {
	margin: 0 auto;
}




.new-app {
	.header {
		padding-bottom: 30px;
		h2 {
			font-size: 48px;
			color: #7ED321;
		}
		p {
			padding-top: 10px;
			font-size: 18px;
			font-weight: 100;
			color: #000;
		}
	}
	.half {
		float:left;
		width:47%;
		margin:1%;
		@media (max-width: 700px) {
			width:100%;
		}
	}
	.form-container {
		padding:20px;
			/* Rectangle 605: */
		background: #FAFAFA;
		border: 1px solid #979797;
		border-radius: 14px;
		color: #616161;
		.new-app-button {
			width:230px;
			height:40px;
			/* Rectangle 664: */
			background: #6DA2E0;
			border-radius: 3px;
			font-size: 20px;
			color: #FFFFFF;
			line-height: 40px;
			text-align: center;
			margin: 0 auto;
			font-weight: 300;
			cursor: pointer;
			&:hover {
				background: #6895CA;
			}
		}
		.title {
			padding-bottom: 0px;
			/* App Info: */
			font-size: 24px;
			color: #616161;
			line-height: 33px;
		}
		.form-group {
			margin: 30px 0;
		}
		input[type=text]{
   		/* Rectangle 103: */
   		background: #C9C9C9;
   		box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.11);
   		height:40px;
   		font-size: 18px;
   		color: #FFFFFF;
   		line-height: 18px;
   		border-radius: 0px;
   		font-weight: 300;
   		&::placeholder {
   			font-weight: 300;
   			font-size: 18px;
   			color: #FFFFFF;
   			line-height: 18px;
   		}	
		}
		textarea {
			background: #C9C9C9;
			box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.11);
			height:40px;
			font-size: 18px;
			color: #FFFFFF;
			line-height: 18px;
			border-radius: 0px;
			font-weight: 300;
			&::placeholder {
				font-weight: 300;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 18px;
			}	
		}
	}
	.deadline-container {
		background-color: #ccc;
		padding: 20px;
	}
	.app-text {
		/* We will add this on : */
		margin: 5px 0;
		font-size: 13px;
		color: #5C5C5C;
		line-height: 18px;
		opacity:0;
		height:0;
	}
	.app-url-text {
		color: red;
	}
}





.app-show {
	.panel-custom{
		border-radius: 8px;
	}
	.top-image {
		border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		height:400px;
		@media (max-width: 760px) {
			height:300px;
		}
		@media (max-width: 400px) {
			height:200px;
		}
		background-color: rgba(0,0,0,0);
		overflow: hidden;
		img {
			width:100%;
			-webkit-filter: blur(40px);
			filter: blur(40px);
		}

	}
	.title {
			color: #fff;
			margin: 0 auto;
			text-align: center;
			position: relative;
			top: -250px;
			@media (max-width: 760px) {
			top:-200px;
			}
			@media (max-width: 400px) {
			top:-120px;
			}
			h1 {
				border-radius: 8px;
				background-color: rgba(0,0,0,0.1);
				display: inline-block;
				padding: 20px 20px 30px 20px;
			}
			.link {
				margin-top: 30px;
				a {
					border-radius: 8px;
					background-color: rgba(0,0,0,0.3);
					display: inline-block;
					padding: 10px 10px 10px 10px;
				}
			}
		}
}