.overall-container{
	.app-container {
		text-align: center;
		margin: 20px auto;
		border: 1px solid #ccc;
		border-radius: 8px;
		min-width:227px;
		height:377px;
		width:227px;
		-webkit-transition: all 500ms ease;
		transition: all 200ms ease;
		position: relative;
		overflow: hidden;
		box-shadow: 0px 2px 26px 0px rgba(0,0,0,0.11);
		&:hover {
			// border: 1px solid #4A9DFF;
			box-shadow: -7px 23px 40px 0px rgba(0,0,0,0.10);
		}
		.img-container {
			height:227px;
			overflow: hidden;
			background-color: #fff;
			margin: 0 auto;
			text-align: center;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			img {
				height:100%;
				text-align: center;
				margin: 0 auto;
				-webkit-transition: all 500ms ease;
				transition: all 500ms ease;
				&:hover {
					-ms-transform: scale(1.05); /* IE 9 */
			    -webkit-transform: scale(1.05); /* Chrome, Safari, Opera */
			    transform: scale(1.05);
				}
			}
		}
		h3 {
			font-size: 20px;
			padding-bottom: 10px;
			font-weight: 300;
		}
		.caption {
			.blue-bg {
				// background: #ECF5FF;
			}
			.name {
				margin-top: 15px;
			}
			.app-link {
					/* App Store Link: */
					font-size: 16px;
					color: #4A9DFF;
					letter-spacing: 0.5px;
					line-height: 20px;
					text-align: center;
					margin-top: 5px;
				}
			.half {
				float:left;
				width:50%;
				text-align: center;
				.title {
					/* Store:: */
					font-size: 16px;
					color: #A1BFE1;
					letter-spacing: 0.5px;
					line-height: 5px;
					padding-bottom: 15px;
				}
				padding-bottom: 15px;
			}
		}
		
	}
}

.container {
	margin: 0 auto;
}






.staff-pick {
	z-index: 1000;
	text-align: right;
	position:absolute;
	top:0px;
	right:0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 80px 80px 0;
	border-color: transparent #F4E528 transparent transparent;
	p {
		color: #68632E;
		text-align: right;
		position:relative;
		left:45px;
		line-height: 15px;
		font-size: 15px;
				-ms-transform: rotate(45deg); /* IE 9 */
		-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
		    		transform: rotate(45deg);
	}
}

