<div class="judging">
      <div class="first">
        <div class="container">
          <div class="title">What Do We Look For In Your App?</div>
          <div class="sub">This is where I would write a whole sentence about what we look for in your app. This is where I would write a whole sentence about what we look for in your app. This is where I would write a whole sentence about what we look for in your app. This is where I would write a whole sentence about what we look for in your app. This is where I would write a whole sentence about what we look for in your app. This is where I would write a whole sentence about what we look for in your app. </div>
        </div>
      </div>
    </div>

    <div class="judging-section">
      <div class="container">
        <h2 class="red">Design.</h2>
        <p>Not many people can design well, but everyone can tell when something looks bad. Your app needs to look so good that even if it didn’t work, people would still download it just to marvel at it. We look for an app that is starting trends instead of following them. These are some good questions to ask about your app’s design: Is everything aligned correctly? Does anything stand out that shouldn’t? Is the color scheme consistent throughout the whole app? If you gave a confident ‘YES’ to all those questions, you’re on the right track.</p>
      </div>
    </div>
    <div class="judging-section-two">
      <div class="container">
        <h2 class="blue">Fucntion.</h2>
        <p>Not many people can design well, but everyone can tell when something looks bad. Your app needs to look so good that even if it didn’t work, people would still download it just to marvel at it. We look for an app that is starting trends instead of following them. These are some good questions to ask about your app’s design: Is everything aligned correctly? Does anything stand out that shouldn’t? Is the color scheme consistent throughout the whole app? If you gave a confident ‘YES’ to all those questions, you’re on the right track.</p>
      </div>
    </div>
    <div class="judging-section-three">
      <div class="container">
        <h2 class="marine">Feel.</h2>
        <p>Not many people can design well, but everyone can tell when something looks bad. Your app needs to look so good that even if it didn’t work, people would still download it just to marvel at it. We look for an app that is starting trends instead of following them. These are some good questions to ask about your app’s design: Is everything aligned correctly? Does anything stand out that shouldn’t? Is the color scheme consistent throughout the whole app? If you gave a confident ‘YES’ to all those questions, you’re on the right track.</p>
      </div>
    </div>
    <div class="judging-rest">
      <div class="container">
        <h3>Rating System</h3>
          <div class="third">
            <p>Design</p>
            <div class="circle design"></div>
            <div class="x-10">x/10</div>
          </div>
          <div class="third">
            <p>Function</p>
            <div class="circle function"></div>
            <div class="x-10">x/10</div>
          </div>
          <div class="third">
            <p>Feel</p>
            <div class="circle feel"></div>
            <div class="x-10">x/10</div>
        </div>
        <h4 class="judging-explain">It's Pretty Self Explanitory.</h4>
      </div>
    </div>