<footer class="real-footer <%= "#{controller.controller_name}" %>">
  <div class="firstline">
    <a href="/">
      <div class="text">Home</div>
    </a>
    <a href="/about">
      <div class="text">About</div>
    </a>
    <a href="/nominations">
      <div class="text">Nominations</div>
    </a>
    <a href="/judging">
      <div class="text">Judging</div>
    </a>
    <a href="/winners">
      <div class="text">Winners</div>
    </a>
    <a href="/apps/new">
      <div class="text blue">Nominate Your App</div>
    </a>
  </div>
  <div class="secondline">
    <div class="text">Copyright Silicon Beach App Awards Inc.</div>
  </div>
</footer>